{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contracts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Provider</th>
                <th>Creationdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td><a href="{{ path('contract_show', { 'id': contract.id }) }}">{{ contract.id }}</a></td>
                <td>{{ contract.provider }}</td>
                <td>{% if contract.creationDate %}{{ contract.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contract_show', { 'id': contract.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contract_edit', { 'id': contract.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contract_new') }}">Create a new contract</a>
        </li>
    </ul>
{% endblock %}
