{% extends 'base.html.twig' %}
 {% set title = "" %}
{% block body %}
    <h1>Contract</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contract.id }}</td>
            </tr>
            <tr>
                <th>Provider</th>
                <td>{{ contract.provider }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{% if contract.creationDate %}{{ contract.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contract_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contract_edit', { 'id': contract.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
