{% extends 'base.html.twig' %}

{% set title = 'Accueil'|trans %}

{% block body %}

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header bg-light-blue">
                        <a class="btn btn-success waves-effect pull-right" href="{{ path('charge_new') }}">
                            <i class="material-icons">add_circle</i>
                            <span>New</span>
                        </a>
                        <h2>Due charges</h2>
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Sujet</th>
                                <th>Coût</th>
                                <th>Echéance</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for charge in charges %}
                                <tr>
                                    <th>{{ charge.subject }}</th>
                                    <td>{{ charge.cost }}</td>
                                    <td>{{ charge.dueDate|date('d/m/Y') }}</td>
                                    {% if charge.status == true %}
                                        <td>Paid</td>
                                    {% else %}
                                        <td>Due</td>
                                    {% endif %}
                                    <td>
                                        <a href="{{ url('charge_show', {id: charge.id }) }}">
                                            <i class="material-icons">visibility</i>
                                        </a>
                                        <a href="{{ url('charge_edit', {id: charge.id }) }}">
                                            <i class="material-icons">mode_edit</i>
                                        </a>
                                        <a href="{{ url('charge_delete', {id: charge.id }) }}">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% for message in app.flashes('notice') %}
                            <div class="flash-notice">
                                {{ message }}
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header bg-light-blue">
                        <a class="btn btn-success waves-effect pull-right" href="{{ path('payment_new') }}">
                            <i class="material-icons">add_circle</i>
                            <span>New</span>
                        </a>
                        <h2>Due payments</h2>
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Charge</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for payment in payments %}

                                    <tr class="bg-red">
                                        <th>{{ payment.charge }}</th>
                                        <td>{{ payment.amount }}</td>
                                        <td>{{ payment.date|date('d-m-Y') }}</td>
                                        <td>{{ payment.type }}</td>
                                        <td>
                                            <a href="{{ url('payment_show', {id: payment.id }) }}">
                                                <i class="material-icons">visibility</i>
                                            </a>
                                            <a href="{{ url('payment_edit', {id: payment.id }) }}">
                                                <i class="material-icons">mode_edit</i>
                                            </a>
                                            <a href="{{ url('payment_delete', {id: payment.id}) }}">
                                                <i class="material-icons">delete</i>
                                            </a>
                                        </td>

                                    </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                        {% for message in app.flashes('notice') %}
                            <div class="flash-notice">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header bg-light-blue">
                        <a class="btn btn-success waves-effect pull-right" href="{{ path('discussion_new') }}">
                            <i class="material-icons">add_circle</i>
                            <span>Nouveau</span>
                        </a>
                        <h2>Discussions</h2>
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Suject</th>
                                <th>Author</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if discussions %}
                                {% for discussion in discussions %}
                                    <tr>
                                        <th>{{ discussion.subject }}</th>
                                        <th>{{ discussion.creator.username }}</th>
                                        {% if discussion.archived == true %}
                                            <td>Archived</td>
                                        {% else %}
                                            <td>Live</td>
                                        {% endif %}
                                        <td>
                                            <a href="{{ url('discussion_show', {id: discussion.id }) }}">
                                                <i class="material-icons">visibility</i>
                                            </a>
                                            <a href="{{ url('discussion_delete', {id: discussion.id }) }}">
                                                <i class="material-icons">delete</i>
                                            </a>
                                        </td>

                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock body %}

{% block javascripts %}
{% endblock javascripts %}
