{% extends 'base.html.twig' %}
 {% set title = "Messages" %}
{#{% block body %}
    <h1>Discussions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for discussion in discussions %}
            <tr>
                <td><a href="{{ path('discussion_show', { 'id': discussion.id }) }}">{{ discussion.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('discussion_show', { 'id': discussion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('discussion_edit', { 'id': discussion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('discussion_new') }}">Create a new discussion</a>
        </li>
    </ul>
{% endblock %}#}

{% block body %}

<!-- Hover Rows -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-light-blue">
                <a class="btn btn-success waves-effect pull-right" href="{{ path('discussion_new') }}">
                    <i class="material-icons">add_circle</i>
                    <span>Nouveau</span>
                </a>
                <h2>{{ title|upper }}</h2>
            </div>
            <div class="body table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Suject</th>
                        <th>Author</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for discussion in discussions %}
                            <tr>
                                <th>{{ discussion.subject }}</th>
                                <th>{{ discussion.creator.username }}</th>
                                {% if discussion.archived == true %}
                                    <td>Archived</td>
                                {% else %}
                                    <td>Live</td>
                                {% endif %}
                                <td>
                                    <a href="{{ url('discussion_show', {id: discussion.id }) }}">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                    <a href="{{ url('discussion_delete', {id: discussion.id }) }}">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>

                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- #END# Hover Rows -->

{% endblock body %}
