{% extends 'base.html.twig' %}
{% set title = "" %}

{% block body %}
    <div class="card">
        <div class="header bg-pink">
            <h2>New message</h2>
        </div>

        <div class="body">
            <div class="row clearfix">
                {{ form_start(form) }}
                <div class="form-group">
                    <div class="form-line">
                        {{ form_label(form.subject) }}
                        {{ form_widget(form.subject, {'attr': {'class': 'form-control', 'type': 'text'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-line">
                        {{ form_label(form.message) }}
                        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'type': 'text'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-line">
                        {{ form_label(form.members) }}
                        {{ form_widget(form.members, { 'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" value="Submit" class="btn bg-cyan btn-block btn-lg waves-effect">
                        <i class="material-icons">check</i>
                        <span>SUBMIT</span>
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock body %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}
