{% extends 'base.html.twig' %}
 {% set title = "" %}
{% block body %}
    <!-- Hover Rows -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header bg-light-blue">
                    {% if allowedToEdit %}
                    <a class="btn btn-success waves-effect pull-right" href="{{ url('discussion_edit', {id: discussion.id }) }}">
                        <i class="material-icons">mode_edit</i>
                        <span>Edit</span>
                    </a>
                    {% endif %}
                    <h2>{{ discussion.subject }}</h2>
                    {% for member in discussion.members %}<span class="badge">{{ member.username }}</span>{% endfor %}
                </div>
                <div class="body">
                    {% for message in discussion.messages %}
                        {% set current = 0 %}
                        {% if message.author.id == app.user.id %}
                            {% set current = 1 %}
                        {% endif %}
                        <div class="row">
                            {% if current %}
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            {% else %}
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
                            {% endif %}
                                <div class="card">
                                    <div class="bg-light-blue">
                                        <div class="media">
                                            <div class="media-left">
                                                <img class="media-object" src="{{ asset('images/user.png') }}" width="48" height="48">
                                            </div>
                                            <div class="media-body">
                                                <p class="media-heading">{{ message.author.firstname ~ " " ~ message.author.lastname ~ " le " ~ message.date|date('d/m/Y')  }} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <p>{{ message.content }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {{ form_start(form) }}
                        {{ form_label(form.content) }}
                        {{ form_widget(form.content, {'attr': {'class': 'form-control', 'type': 'text'}}) }}
                            <div class="form-group">
                                <button type="submit" value="Submit" class="btn bg-cyan btn-block btn-lg waves-effect pull-right">
                                    <i class="material-icons">send</i>
                                    <span>ANSWER</span>
                                </button>
                            </div>
                            {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Hover Rows -->

{% endblock body %}