{% extends 'base.html.twig' %}

{% set title = 'Messages'|trans %}

{% block body %}

    <!-- Hover Rows -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header bg-light-blue">
                    <a class="btn btn-success waves-effect pull-right" href="{{ path('message_new') }}">
                        <i class="material-icons">add_circle</i>
                        <span>Nouveau</span>
                    </a>
                    <h2>{{ title|upper }}</h2>
                </div>
                <div class="body table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Sujet</th>
                            <th>Auteur</th>
                            <th>Contenu</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for message in messages %}

                            {% if app.user.hasRole('ROLE_ADMIN') %}
                            <tr>
                                <th>{{ message.subject }}</th>
                                <td>{% for auth in message.author %}1{{ auth.firstname }} {% endfor %}</td>
                                <td>{{ message.content }}</td>
                                {% if message.archived == true %}
                                    <td>Archived</td>
                                {% else %}
                                    <td>Live</td>
                                {% endif %}
                                <td>
                                    <a href="{{ url('message_show', {id: message.id }) }}">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                    <a href="{{ url('message_edit', {id: message.id }) }}">
                                        <i class="material-icons">mode_edit</i>
                                    </a>
                                    <a href="{{ url('message_delete', {id: message.id }) }}">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>

                            </tr>
                                {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Hover Rows -->

{% endblock body %}

{% block javascripts %}
{% endblock javascripts %}