{% extends 'base.html.twig' %}

{% set title = 'Messages'|trans %}

{% block body %}
    <div class="card">
        <div class="header bg-pink">
            <h2>New message</h2>
        </div>

        <div class="body">
            <div class="row clearfix">
                {{ form_start(form) }}
{#                <div class="form-group">
                    <div class="form-line">
                        {{ form_label(form.subject) }}
                        {{ form_widget(form.subject, {'attr': {'class': 'form-control', 'type': 'text'}}) }}
                    </div>
                </div>#}

                <div class="form-group">
                    <div class="form-line">
                        {{ form_label(form.content) }}
                        {{ form_widget(form.content, {'attr': {'class': 'form-control', 'type': 'text'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-line">
                        {{ form_label(form.discussion) }}
                        {{ form_widget(form.discussion, { 'attr': {'class': 'form-control show-tick'}}) }}
                    </div>
                </div>


                <div class="form-group">
                    <button type="submit" value="Submit" class="btn bg-cyan btn-block btn-lg waves-effect">
                        <i class="material-icons">check</i>
                        <span>SUBMIT</span>
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock body %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/form.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}
