{% extends 'base.html.twig' %}
 {% set title = "" %}
{% block body %}
    <h1>Notifications list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            <tr>
                <td><a href="{{ path('notification_show', { 'id': notification.id }) }}">{{ notification.id }}</a></td>
                <td>{{ notification.subject }}</td>
                <td>{% if notification.time %}{{ notification.time|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('notification_show', { 'id': notification.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('notification_edit', { 'id': notification.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('notification_new') }}">Create a new notification</a>
        </li>
    </ul>
{% endblock %}
