{% extends 'base.html.twig' %}

{% block body %}
    <h1>Survey</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ survey.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ survey.question }}</td>
            </tr>
            <tr>
                <th>Answers</th>
                <td>{% if survey.answers %}{{ survey.answers|join(', ') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('survey_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('survey_edit', { 'id': survey.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
