{% extends 'base.html.twig' %}
 {% set title = "Project" %}
{% block body %}
    <!-- Hover Rows -->
    <div class="row clearfix">

        {#MAIN CONTENT#}
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="header bg-light-blue">
                    {% if allowedToEdit %}
                        <a class="btn btn-success waves-effect pull-right" href="{{ url('project_edit', {id: project.id }) }}">
                            <i class="material-icons">mode_edit</i>
                            <span>Edit</span>
                        </a>
                    {% endif %}
                    <h2>Project informations</h2>
                </div>
                <div class="body">
                    {#PROJECT INFORMATION#}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <td>Project name</td>
                            <td>Description</td>
                            <td>Status</td>
                            <td>Members</td>
                            <td>Open date</td>
                            <td>Creator</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>{{ project.name }}</th>
                            <th>{{ project.description }}</th>
                            <th>{{ project.status }}</th>
                            {#<th>{{ project.members }}</th>#}
                            <th>Members</th>
                            <th>{{ project.openDate|date('d/m/Y') }}</th>
                            <th>{{ project.creator }}</th>
                        </tr>
                        </tbody>
                    </table>
                    {# END OF PROJECT INFORMATION#}
                </div>
            </div>
        </div>
        {#MAIN CONTENT#}


            {# DISCUSSION #}
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
            <div class="card">
                <div class="header bg-blue-grey">
                    <h2>Discussion</h2>
                </div>
                <div class="body">
                    {% for message in project.discussion.messages %}
                    {% set current = 0 %}
                    {% if message.author.id == app.user.id %}
                        {% set current = 1 %}
                    {% endif %}
                    <div class="row">
                        {% if current %}
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            {% else %}
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
                                {% endif %}
                                <div class="card">
                                    <div class="bg-light-blue">
                                        <div class="media">
                                            <div class="media-left">
                                                <img class="media-object" src="{{ asset('images/user.png') }}" width="48" height="48">
                                            </div>
                                            <div class="media-body">
                                                <p class="media-heading">{{ message.author.firstname ~ " " ~ message.author.lastname ~ " le " ~ message.date|date('d/m/Y')  }} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <p>{{ message.content }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {{ form_start(form) }}
                        {{ form_label(form.content) }}
                        {{ form_widget(form.content, {'attr': {'class': 'form-control', 'type': 'text'}}) }}
                        <div class="form-group">
                            <button type="submit" value="Submit" class="btn bg-cyan btn-block btn-lg waves-effect pull-right">
                                <i class="material-icons">send</i>
                                <span>ANSWER</span>
                            </button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                {#END OF DISCUSSION#}
            </div>
    <!-- #END# Hover Rows -->

{% endblock body %}







{#LEGACY#}
{#{% block body %}#}
    {#<h1>Project</h1>#}

    {#<table>#}
        {#<tbody>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ project.id }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Name</th>#}
                {#<td>{{ project.name }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Description</th>#}
                {#<td>{{ project.description }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Status</th>#}
                {#<td>{{ project.status }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Opendate</th>#}
                {#<td>{% if project.openDate %}{{ project.openDate|date('Y-m-d H:i:s') }}{% endif %}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Closedate</th>#}
                {#<td>{% if project.closeDate %}{{ project.closeDate|date('Y-m-d H:i:s') }}{% endif %}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Creator</th>#}
                {#<td>{{ project.creator }}</td>#}
            {#</tr>#}
        {#</tbody>#}
    {#</table>#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('project_index') }}">Back to the list</a>#}
        {#</li>#}
        {#<li>#}
            {#<a href="{{ path('project_edit', { 'id': project.id }) }}">Edit</a>#}
        {#</li>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    {#</ul>#}
{#{% endblock %}#}