{% extends 'base.html.twig' %}
{% set title = 'Payment'|trans %}

{% block body %}
    <!-- Hover Rows -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header bg-light-blue">
                    <h2>{{ title|upper }} {{ payment.id }}</h2>
                </div>
                <div class="body table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Charge</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Documents</th>
                            <th>Contract</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>{{ payment.charge }}</th>
                            <td>{{ payment.amount }}</td>
                            {% if payment.done %}
                                <td class="bg-green">Paid</td>
                            {% else %}
                                <td class="bg-red">Due</td>
                            {% endif %}
                            <td>{{ payment.date|date('d-m-Y') }}</td>
                            <td>{{ payment.type }}</td>
                            <td>{% if payment.document %}<a
                                    href="{{ path('file_show', {'id':payment.id, 'entity':'payment'}) }}">{{ payment.document }}</a>
                                {% else %}No document.
                                {% endif %}
                            </td>
                            <td>{{ payment.contract }}</td>
                        </tr>
                        </tbody>
                    </table>
                    {% for message in app.flashes('notice') %}
                        <div class="flash-notice">
                            {{ message }}
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
